# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/build/
android/local.properties
*.jks
*.keystore

# IDE
.idea/
.vscode/
*.iml

# Misc
*.log
